/*ITIS 3135 Activity 2 css file*/

/*styling for the table goes here*/
body
{
	font-family: verdana;
  color: #CBC3E3;
  background-color: #659DBD;
	width: 750px;
	margin: 0 auto;
}

header, footer
{
  text-align: left;
  color: #FBEEC1;
  font-weight: bold;
}

ol{
	text-align: left;
}

table
{
	border-collapse: collapse;
	background-color: red;
	margin: 20px;
}

thead
{
	background-color: darkblue;
}

th, td
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

.right
{
	text-align: right;
}

tbody tr:nth-child(1) td
{
	background-color: darkblue;
}

tbody tr:nth-child(odd) td
{
	background-color: red;
}

table tr:nth-child(even) 
{
	background-color: blue;
}
