<div class="footer">	
<div class="row">
  <div class="column" >
  	<h6>Social Links</h6>
  	<a href="https://www.instagram.com/beckstein_photos/" aria-label="Calebs Instagram Page">Instagram</a>  <br>
<br> <a href="https://twitter.com/CalebBeckstein" aria-label="Calebs Twitter Page">Twitter</a>  <br>
<br> <a href="https://www.youtube.com/c/PythonTV" aria-label="Calebs Youtube Page">YouTube</a> 
	</nav>
  </div>
  <div class="column">
  	<h6> Hours of operation: </h6>
<p>Sun:	Appointment only <br>
	 Mon: 8:00 am - 6:00 pm <br>
	 Tues: 8:00 am - 6:00 pm <br>
	 Wed: 8:00 am - 6:00 pm <br>
	 Thur: 8:00 am - 6:00 pm <br>
	 Fri: 9:00 am - 5:00 pm <br>
	 Sat: Appointment only <br>
	</p>

  </div>
  <div class="column">
  	<h6> Motto: </h6>
  	<p>
  		<i>" Photography is the story i fail to put into words "</i> <br><br>
  		- Caleb Beckstein
  	</p>
  </div>
</div>