/* got this from coolors.co - please improve!
 https://coolors.co/b5d6b2-53131e-5a464c-fffacc-ffefbd
*/

body
{
	font-family: monospace;
	color: #80bfff;
	background-color: #0059b3;
	margin-left: 70px;
	margin-right: 70px;
}


header, footer
{
	text-align: left;
	color: #80bfff;
	font-weight: bold;
}

main{
	text-align: left;
}

div{
	text-align: left;
}

h1, h3
{
	color: #80bfff;
	font-family: Cambria, Cochin, serif;
	text-align: center;
}

h2, h4
{
	text-align: left;
}

h3
{
	line-height: 10x;
	text-align: left;
}

a
{
	text-decoration: none;
	color: #80bfff;
	
}

a:hover
{
	text-decoration: overline underline;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}


nav
{
	text-align: left;
	color:  #ffffff;
}